/* line 1 */
body {
  padding: 0px;
  margin: 0px;
  background: #e2e3da url(/images/bg.png) top left repeat;
  font-family: Verdana;
  font-size: 10pt;
}

/* line 9 */
h1 {
  font-family: "Impact Label Rev", courier, sans-serif;
}

/* line 11 */
navigation {
  font-family: "Impact Label Rev", courier, sans-serif;
  height: 38px;
  width: 866px;
  margin: 0px auto;
  display: block;
  text-align: center;
}
/* line 18 */
navigation ul, navigation li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 23 */
navigation a, navigation a:link, navigation a:visited {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  padding: 0px;
  padding-right: 15px;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  font-size: 26px;
  color: #fbfbf7;
}
/* line 36 */
navigation a:hover, navigation a:link:hover, navigation a:visited:hover {
  color: red;
}
/* line 39 */
navigation li.active a, navigation li.active a:hover {
  color: #fffc00;
}

/* line 42 */
#content {
  background: url(/images/purecontentbg.jpg) top center no-repeat;
  height: 1417px;
  width: 928px;
  padding: 100px 55px 35px 75px;
  margin: 0px auto;
}

/* line 49 */
#content.index {
  background: url(/images/contentbg.jpg) top center no-repeat;
}

/* line 52 */
#layer1 {
  width: 1058px;
  margin: 0px auto;
  background: url(/images/flex.jpg) top center repeat-y;
}

/* line 57 */
#layer2 {
  width: 1058px;
  margin: 0px;
  background: url(/images/flexbgtop.jpg) top center no-repeat;
}

/* line 62 */
#layer3 {
  padding: 100px 55px 35px 75px;
  margin: 0px;
  background: url(/images/flexbgbottom.jpg) bottom center no-repeat;
}

/* line 67 */
footer {
  font-size: 14px;
  font-family: Courier, sans-serif;
  text-align: center;
  margin: 20px auto;
}
/* line 72 */
footer a {
  text-decoration: none;
  color: black;
}

/* line 77 */
header h2, header h3, header #enroll {
  display: none;
}

/* line 79 */
header h1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 121px;
  background: url(/images/logo.png) top center no-repeat;
}
/* line 85 */
header h1 span {
  display: none;
}

/* line 88 */
hr {
  display: block;
  background: url(/images/rip.png) top left repeat-x;
  height: 14px;
  width: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/* line 96 */
header {
  background: #575757 url(/images/headerbg.png) top left repeat;
}

/* line 100 */
.person img {
  float: left;
}

/* line 103 */
.person h4, .person p, .person ul {
  margin-left: 175px;
}

/* line 108 */
#left {
  float: left;
  width: 610px;
}

/* line 111 */
#right {
  margin-left: 645px;
  width: 290px;
  padding-top: 100px;
}

/* line 116 */
#sponsorinterest {
  text-align: center;
  margin-top: 20px;
}

/* line 120 */
.person {
  margin-bottom: 12px;
}
