-@tab = :sponsors
%h1 DojoConf 2011 Sponsors
%p 
  Interested in sponsoring the first ever DojoConf? Who isn't! It will easy be one of the best JS events of 2011 and you can be a major sponsor! See our <a href="http://dojoconf.s3.amazonaws.com/DojoConf2011SponsorPkg.pdf">sponsorship prospectus</a> and <a href="mailto:chris@dojoconf.com">email us</a> today! 
  %p Why sponsor? Here are some great reasons!
  %ul
    %li 150 attendees; purposefully sized for community building.
    %li Event is being organized by the curators of JSConf to ensure a huge success for community and sponsors alike.
    %li DojoConf is the fusion of top talent, top companies, and top quality events.
    %li All sponsorships are tailored to ensure they meet or exceed your expectations.We work with you to ensure it is the best sponsorship possible.
    %li Target audience is intermediate to expert Dojo developers.
    %li Resulting goal is a tight knit, core community of developers and sponsors on which to expand and grow Dojo.
    %li Presentations will be first run, never before seen content with a focus on tactical application.
    %li All sponsorships come with tickets for this event, which are otherwise hard to obtain.

%p <a href="mailto:chris@dojoconf.com">Email us</a> today to secure your sponsorship slot, they are filling up fast.