- @make_index = true
#left
  %h1 Announcing to DojoConf 2011
  %center
    %img{:src=>"/images/logo.png", :alt=>"dojoconf Washington DC"}
  %p You may have seen our <a href="/teaser/index.html">teaser page</a> and call for speakers earlier this year, but we are officially launching the DojoConf website at this point. Book your calendars for September 16<sup>th</sup> and 17<sup>th</sup> to be in Arlington, VA at the <a href="https://gc.synxis.com/rez.aspx?Hotel=26723&Chain=10179&arrive=9/17/2011&depart=9/19/2011&adult=1&child=0&group=11540401133">Hotel Palomar</a> for two amazing days filled to the breaking point of Dojo content. We have a stellar line up of almost 20 speakers that will be presenting bleeding edge technology and applications using the Dojo toolkit. This is the chance for the Dojo community to come together, share ideas and share a dojo.beer. 
  %p <a href="http://dojoconf2011.eventbrite.com">Early Bird Ticket sales</a> will begin July 8<sup>th</sup> at 1:00PM EST and will be available for $550 USD. There will be a limited quantity available and once they are out - there are no more. Consider yourself forewarned!
  %p <a href="http://dojoconf2011.eventbrite.com">General Admission Ticket sales</a> will begin July 12<sup>th</sup> at 4:00PM EST. This event will sell out so if you have some reason you cannot be available to purchase tickets during those times, please <a href="mailto:chris@dojoconf.com">email us directly right now</a>.
  %p We will be announcing speakers and sponsors over the coming weeks, so please stay tuned! 
#right
  #sponsorinterest Interested in becoming a sponsor?<br/><a href="http://dojoconf.s3.amazonaws.com/DojoConf2011SponsorPkg.pdf">Please review our prospectus!</a>