- @make_index = true
- @tab = :home
#left
  %h1 Speakers Announced
  %center
    %a{:href=>"/speakers.html"}
      %img{:src=>"/images/russell.jpg", :alt=>"Alex Russell", :style=>"margin: 0px 6px "}
      %img{:src=>"/images/higgins.jpg", :alt=>"Peter Higgins", :style=>"margin: 0px 6px "}
      %img{:src=>"/images/schiemann.jpg", :alt=>"Dylan Schiemann", :style=>"margin: 0px 6px "}
  %p We are happy to announce our <a href="/speakers.html">full line up of speakers</a> for DojoConf 2011, there is a limited number of tickets available and they are going fast. <a href="http://dojoconf2011.eventbrite.com">Register now</a> if you want to attend, we can't promise any more seats will be available once the tickets sell out. Also our hotel room block is almost sold out, so if you want a room at the <a href="https://gc.synxis.com/rez.aspx?Hotel=26723&Chain=10179&arrive=9/17/2011&depart=9/19/2011&adult=1&child=0&group=11540401133">low rate of $149/night</a>, be sure to book it now!
  %p="&nbsp;"
  %h1 Announcing DojoConf 2011
  %center
    %img{:src=>"/images/logo.png", :alt=>"dojoconf Washington DC"}
  %p You may have seen our <a href="/teaser/index.html">teaser page</a> and call for speakers earlier this year, but we are officially launching the DojoConf website at this point. Book your calendars for September 16<sup>th</sup> and 17<sup>th</sup> to be in Arlington, VA at the <a href="https://gc.synxis.com/rez.aspx?Hotel=26723&Chain=10179&arrive=9/17/2011&depart=9/19/2011&adult=1&child=0&group=11540401133">Hotel Palomar</a> for two amazing days filled to the breaking point of Dojo content. We have a stellar line up of almost 20 speakers that will be presenting bleeding edge technology and applications using the Dojo toolkit. This is the chance for the Dojo community to come together, share ideas and share a dojo.beer. 
  %p <a href="http://dojoconf2011.eventbrite.com">Early Bird Ticket sales</a> will begin July 8<sup>th</sup> at 1:00PM EST and will be available for $550 USD. There will be a limited quantity available and once they are out - there are no more. Consider yourself forewarned!
  %p <a href="http://dojoconf2011.eventbrite.com">General Admission Ticket sales</a> will begin July 12<sup>th</sup> at 4:00PM EST. This event will sell out so if you have some reason you cannot be available to purchase tickets during those times, please <a href="mailto:chris@dojoconf.com">email us directly right now</a>.
  %p We will be announcing all of our speakers and sponsors over the coming weeks, but for now, be sure to checkout out the <a href="/speakers.html">speakers we have already announced</a>! 
#right
  .sponsor
    %a{:href => "sponsors.html#ibm"}
      %img{:alt => "IBM Social Business", :height => "103", :src => "images/ibm.png", :width => "200"}/
  .sponsor
    %a{:href => "sponsors.html#pearson"}
      %img{:alt => "Pearson", :src => "images/pearson.png"}
  .sponsor
    %a{:href => "sponsors.html#uniface"}
      %img{:alt => "Uniface", :src => "images/uniface.png"}
  .sponsor
    %a{:href => "sponsors.html#sitepen"}
      %img{:alt => "sitepen", :src => "images/sitepen.png"}
  #sponsorinterest Interested in becoming a sponsor?<br/><a href="http://dojoconf.s3.amazonaws.com/DojoConf2011SponsorPkg.pdf">Please review our prospectus!</a>