-@tab = :schedule
-@flex = true
%h1 Schedule
%p Our schedule is also available in mobile version thanks to the awesome Guidebook application for it, click the badge below. We recommend using the Guidebook app because its 1.) mobile and 2.) has all the speaker details inline with the schedule. So use it.
%center= '<iframe src="http://gears.guidebookapp.com/static/assets/badge.html" frameborder="0" width="334" height="94" style="width:334px;height:94px;overflow:hidden;" scrolling="no"></iframe>'
%p As with a JSConf event, there will be a loosely curated Track B. When you get to DojoConf, there will be a sign up sheet at registration for you to pick a slot if you want to speak. Each slot is for 30 minutes, so it will line up with the schedule below. Be sure to check the Track B schedule through out the day as it will be just as epic as Track A, it always is. 
%p Also for those of you wishing to "break-away" and cut some code with the speakers, we have a fully catered Hacker's Dojo ready for you care of LifeIMAGE. The Hacker's Dojo is all the goodness of a hallconf, but in a semi-organized (and a lot more comfortable) fashion. Be sure to indulge in some coding goodness at DojoConf, its half the fun of the event to be able to say "I hacked with Pete Higgins".
%p= "&nbsp;"
%h1 Thursday Night
%table
  %tr
    %th Start
    %th End
    %th Event
  %tr
    %td 7:00&nbsp;PM
    %td 11:00&nbsp;PM
    %td
      %b Pearson's Opening Party - The Continental
      %br
      Our sponsor <a href="http://pearson.com/">Pearson</a> would like to welcome you to Washington DC and to kick off the first ever DojoConf in super modern style, which is why they are hosting an epic party at the Continental Modern Lounge ( http://www.modernpoollounge.com/ ) for you and the other attendees of DojoConf. Meet speakers and the Pearson team for heavy appetizers, drinks, and all-you-can-play billiards and darts! Stop by when you arrive, it is right across the street from the Hotel Palomar. <a href="http://g.co/maps/9qnq">Map</a> 
 
%p= "&nbsp;"
%h1 Friday
%table
  %tr
    %th Start
    %th End
    %th Event
    
  %tr
    %td 8:00&nbsp;AM
    %td 9:00&nbsp;AM
    %td
      %b Breakfast and Registration
      %br
      Bacon, Eggs, Veggies, a hot breakfast for all brought to you by our sponsor, Uxebu.
  %tr
    %td 9:00&nbsp;AM
    %td 9:15&nbsp;AM
    %td
      %b Introductions
      %br
      A word from our Spy Directors, Chris and Laura Williams, about how your day at DojoConf will proceed. Be sure to be present to know how the whole day will play out.
  %tr
    %td 9:15&nbsp;AM
    %td 9:45&nbsp;AM
    %td Dojo 2.0: Reinventing Web App Development - Dylan Schiemann
  %tr
    %td 9:45&nbsp;AM
    %td 10:15&nbsp;AM
    %td
      What's broke with Rails, Django, and every other web app framework...and how to fix them -	Rawld Gill
  %tr
    %td 10:15&nbsp;AM
    %td 10:30&nbsp;AM
    %td Break
  %tr
    %td 10:30&nbsp;AM
    %td 11:00&nbsp;AM
    %td Machiavelli 'n Dojo - Revin Guillen
  %tr
    %td 11:00&nbsp;AM
    %td 11:30&nbsp;AM
    %td Large Scale App Development - Rebecca Murphey
  %tr
    %td 11:30&nbsp;AM
    %td 11:45&nbsp;AM
    %td Break
  %tr
    %td 11:45&nbsp;AM
    %td 12:15&nbsp;PM
    %td So You Think You Know Widgets - Daniel Lee
  %tr
    %td 12:15&nbsp;PM
    %td 13:15&nbsp;PM
    %td Lunch, Soviet style thanks to Uxebu
  %tr
    %td 1:00&nbsp;PM
    %td 1:30&nbsp;PM
    %td The Art of Nano Widgets - Chris Barber
  %tr
    %td 1:30&nbsp;PM
    %td 2:00&nbsp;PM
    %td has, feature detection, and optimized builds - Peter Higgins
  %tr
    %td 2:00&nbsp;PM
    %td 2:15&nbsp;PM
    %td Break
  %tr
    %td 2:15&nbsp;PM
    %td 2:45&nbsp;PM
    %td DataGrid Bootcamp: Extreme Performance Hacks for Big Data - Ryan Corradini
  %tr
    %td 2:45&nbsp;PM
    %td 3:15&nbsp;PM
    %td A New Grid and Store Architecture - Kris Zyp
  %tr
    %td 3:15&nbsp;PM
    %td 3:45&nbsp;PM
    %td AMD module patterns - John Hann
  %tr
    %td 3:45&nbsp;PM
    %td 4:15&nbsp;PM
    %td Uniface gets Bad Ass with DOJO - Thomas Stolwijk
  %tr
    %td 4:15&nbsp;PM
    %td 4:30&nbsp;PM
    %td Break
  %tr
    %td 4:30&nbsp;PM
    %td 5:00&nbsp;PM
    %td Mustache? I’ll raise you an Eyebrow! — Reactive Templates and Widgets with Eyebrow templates - Mark Wubben
  %tr
    %td 5:00&nbsp;PM
    %td 5:30&nbsp;PM
    %td Advanced Symbology with GFX - Patrick Ruzand
  %tr
    %td 5:30&nbsp;PM
    %td 6:00&nbsp;PM
    %td Closing Remarks
    
  
  %tr
    %td 7:00&nbsp;PM
    %td 11:00&nbsp;PM
    %td
      %b IBM's Big Blue Party on the Waterfront
      %br
      IBM has an amazing party ready for you in the heart of Georgetown, just across the Key Bridge from the hotel at <a href="http://www.arkrestaurants.com/sequoia_dc.html">Sequoia</a> on the Waterfront. Spy attire is completely optional and 100% perfect for the James Bond like atmosphere. Swanky, sophisticated, and just a short 10 minute walk from the Hotel Palomar. <a href="http://g.co/maps/frnk">Map</a>





%p= "&nbsp;"
%h1 Saturday
%table
  %tr
    %th Start
    %th End
    %th Event

  %tr
    %td 8:00&nbsp;AM
    %td 9:00&nbsp;AM
    %td
      %b Breakfast and Registration
      %br
      Bacon, Eggs, Veggies, a hot breakfast for all brought to you by our sponsor, Uxebu.
  %tr
    %td 9:00&nbsp;AM
    %td 9:15&nbsp;AM
    %td
      %b Introductions
      %br
      A word from our Spy Directors, Chris and Laura Williams, about how your day at DojoConf will proceed. Be sure to be present to know how the whole day will play out.
  %tr
    %td 9:15&nbsp;AM
    %td 9:45&nbsp;AM
    %td Frameworks.next: How Faster Browser Evolution Will Change How We Think - Alex Russell
  %tr
    %td 9:45&nbsp;AM
    %td 10:15&nbsp;AM
    %td
      Dojo Web Builder - Building Dojo in the Cloud - James Thomas
  %tr
    %td 10:15&nbsp;AM
    %td 10:30&nbsp;AM
    %td Break
  %tr
    %td 10:30&nbsp;AM
    %td 11:00&nbsp;AM
    %td Web apps on the BlackBerry PlayBook - Laurent Hasson
  %tr
    %td 11:00&nbsp;AM
    %td 11:30&nbsp;AM
    %td Dojo and HTML5 - Mike Wilcox
  %tr
    %td 11:30&nbsp;AM
    %td 11:45&nbsp;AM
    %td Break
  %tr
    %td 11:45&nbsp;AM
    %td 12:15&nbsp;PM
    %td EmbedJS and Mobile Optimization - Nikolai Onken
  %tr
    %td 12:15&nbsp;PM
    %td 13:15&nbsp;PM
    %td Lunch, YOU THINK YOU KNOW FOOD!!! WE SHOW YOU FOOD, thanks to Uxebu
  %tr
    %td 1:00&nbsp;PM
    %td 1:30&nbsp;PM
    %td HTML5 Game with dojo - Luis Montes
  %tr
    %td 1:30&nbsp;PM
    %td 2:00&nbsp;PM
    %td Can Stephen Hawking use your Dojo App? - Becky Gibson
  %tr
    %td 2:00&nbsp;PM
    %td 2:30&nbsp;PM
    %td The Power of Promises - Brian Arnold
  %tr
    %td 2:30&nbsp;PM
    %td 5:30&nbsp;PM
    %td Breakout Sessions hosted by the Dojo Team
  %tr
    %td 5:30&nbsp;PM
    %td 6:00&nbsp;PM
    %td Closing Remarks


  %tr
    %td 7:00&nbsp;PM
    %td 11:00&nbsp;PM
    %td
      %b Compuware Uniface's Dojo.Beer Event
      %br
      You didn't actually think we would have a DojoConf without some representation of the beloved dojo.beer, did you? Compuware Uniface is the sponsor for this epic closing dojo.beer event held at the wonderful Fathom Gallery. Come prepared for a rooftop party unlike any you have ever seen. As with all events, food and drinks will be provided. The party will wrap up at 11:00 PM, but you are in the heart of DC - so if you want to keep going, we suggest 1337, if you know what we mean. <a href="http://g.co/maps/egzg">Map</a> 
      
      