-@tab = :speakers
%h1 Speakers



%p{:style=>"margin-bottom: 2em;"} There will be a total of 20 amazing speakers that will be presenting at DojoConf 2011, we are posting them as soon as we have final confirmation over the next week, so be sure to check back. For now here are the agents that have been brought online for active duty.

%h4{:style=>"margin-bottom:0px; "} We Want To Hear From You
%p{:style=>"margin-bottom: 2em; margin-top: 0px"} If you want to present at DojoConf on a topic, product, or idea that you have, there will be a Track B for lightning talks and hackfests. Speaking in Track B is completely free form, but you must be a registered attendee. Sign up will be done at the conference, so start preparing your topic to present today and get ready.

.person.clearfix
  %img{:alt => "Laurent Hasson", :height => "150", :src => "images/hasson.jpg", :width => "150"}/
  %h4
    %a{:href=>"http://twitter.com/#!/ldhasson"}
      Laurent Hasson
    = " - Web apps on the BlackBerry PlayBook"
  %p
    This session will provide you with an in-depth account of building a mobile web game for the  BlackBerry PlayBook using the WebKit web  browser and the BlackBerry Webworks platform. I will recount the lessons learnt while developing such an app, why mobile is truly different and how you can adapt your desktop Dojo skills for the job at hand. I will lay down a few best practices that are emerging, and then cap it all with a description of how you can submit your own app on BlackBerry AppWorld.
    
.person.clearfix
  %img{:alt => "Alex Russell", :height => "150", :src => "images/russell.jpg", :width => "150"}/
  %h4
    %a{:href=>"http://infrequently.org/"}
      Alex Russell
    = " - Frameworks.next: How Faster Browser Evolution Will Change How We Think"
  %p
    Dojo provides a stable, dependable, best-you-can-get solution for designers and developers who want flexibility, performance, reach, and fewer headaches down the road. Mobile is starting to challenge some of the assumptions that makes it possible for to deliver these attributes in a single codebase, and new frameworks are emerging to fill the gaps created by new constraints -- better standards support on average, different network latencies, different form factors, etc.
  %p
    This talk explores how language, platform, and market evolution will change the dynamic further and faster, allowing the Dojo community to consider new approaches...if we can muster the will to get out in front of it.

.person.clearfix
  %img{:alt => "Dylan Schiemann", :height => "150", :src => "images/schiemann.jpg", :width => "150"}/
  %h4
    %a{:href=>"http://dylanschiemann.com/"}
      Dylan Schiemann
    = " - Dojo 2.0: Reinventing Web App Development"
  %p
    Opening keynote showing off the latest and greatest in Dojo, and the vision for the present and future.
    
.person.clearfix
  %img{:alt => "Peter Higgins", :height => "150", :src => "images/higgins.jpg", :width => "150"}/
  %h4
    %a{:href=>"http://higginsforpresident.net/"}
      Peter Higgins
    = " - has, feature detection, and optimized builds"
  %p
    %img{:src=>"/images/spinner.gif", :style=>"margin-right: 12px"}
    Feature detection in process. Please wait...
    
    