-@tab = :sponsors
%h1 DojoConf 2011 Sponsors


#ibm.sponsor.clearfix
  .logo
    %a{:href => "http://www.ibm.com/socialbusiness/"}
      %img{:alt => "IBM Social Business", :height => "103", :src => "images/ibm.png", :width => "200"}/
  %p
    IBM is the world's largest information technology company, with over 100 years of leadership in helping clients innovate. As a leader in helping our clients become social businesses, we deliver robust, yet flexible social collaboration solutions that empower organizations to cultivate trusted relationships through people-centric experiences when and where needed. Using the industry leading social software from IBM, innovative businesses are becoming social businesses by building and engaging in people networks on the web and at work. Let us show you how IBM can assist your company in becoming a social business. Learn more at <a href="http://www.ibm.com/socialbusiness">www.ibm.com/socialbusiness</a>.




#pearson.sponsor.clearfix
  .logo
    %a{:href => "http://pearson.com/"}
      %img{:alt => "Pearson", :height => "59", :src => "images/pearson.png", :width => "200"}/
  %p
    We are the leading education company in the world, continually supporting millions of students to learn with our content and technology. We're the people behind leading brands like Addison Wesley, The Economist, The Financial Times, & Pearson LearningStudio. 
  %p
    Our culture is mission driven, our egos are in check, and our creative drive is accelerating. We are passionate about frictionless UX, social learning, and extending the classroom into the daily lives of students. 
  %p
    Pearson product engineering teams are working on next generation learning technology, with such varied elements as Dojo, node.js, Java, C#, Erlang, RabbitMQ, Ruby, Hadoop, and Tinkerpop. If you want to work with a team who is dealing with problems like getting a million HTTP connections out of 2GB of RAM, at a place where design thinking continually pervades our conversations / whiteboards / ideas for new APIs, and at a time when education is embracing rapid innovation, we want to <a href="mailto:MeetPearson@gmail.com">meet you</a>.  

%h1 YOU CAN SPONSOR DOJOCONF TOO!
%p 
  Interested in sponsoring the first ever DojoConf? Who isn't! It will easy be one of the best JS events of 2011 and you can be a major sponsor! See our <a href="http://dojoconf.s3.amazonaws.com/DojoConf2011SponsorPkg.pdf">sponsorship prospectus</a> and <a href="mailto:chris@dojoconf.com">email us</a> today! 
  %p Why sponsor? Here are some great reasons!
  %ul
    %li 150 attendees; purposefully sized for community building.
    %li Event is being organized by the curators of JSConf to ensure a huge success for community and sponsors alike.
    %li DojoConf is the fusion of top talent, top companies, and top quality events.
    %li All sponsorships are tailored to ensure they meet or exceed your expectations.We work with you to ensure it is the best sponsorship possible.
    %li Target audience is intermediate to expert Dojo developers.
    %li Resulting goal is a tight knit, core community of developers and sponsors on which to expand and grow Dojo.
    %li Presentations will be first run, never before seen content with a focus on tactical application.
    %li All sponsorships come with tickets for this event, which are otherwise hard to obtain.

%p <a href="mailto:chris@dojoconf.com">Email us</a> today to secure your sponsorship slot, they are filling up fast.